.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div{
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 0 0;
    gap: 1em;
}

.container img{
    width: 350px;
}

@media (max-width: 1200px) {
    .container img {
        width: 300px;
    }
}

@media (max-width: 1000px){
    .container img{
        width: 250px;
    }
}

@media (max-width: 850px){
    .container img{
        width: 200px;
    }
}

@media (max-width: 700px){

    .container div {
        display: flex;
        flex-direction: column;
    }

    .container img{
        width: 100%;
        margin-right: 0;
    }

    .container div {
        margin-right: 0;
        gap: 2em;
    }
}

