.container {
    max-width: 100vw;
    height: calc(100vh - var(--nav-height));
    background-color: var(--off-white);
    overflow-y: scroll;
    margin-top: var(--nav-height);
}

.container main {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
    width: 100%;
}

.footer_group {
    background-color: var(--off-white);
}