.container {
    max-width: 600px;
    min-width: 520px;
    width: calc(30vw - 3em);
    height: calc(100vh - var(--nav-height));
    position: sticky;
    /* display: flex; */
    /* right: 0; */
    top: var(--nav-height);
    z-index: 5;
    border-left: 1.5px solid var(--off-black);
    /* border-right: 1.5px solid var(--off-black); */
    background-color: var(--off-white);
    margin-left: 3em;
}

/* .folderContent {
    background-color: var(--off-white);
    width: 100%;
    height: 100%;
} */

.closeArrow {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%);
    top: 1em;
    background-color: white;
    padding: 0.5em;
    border-radius: 100px;
    outline: 1px solid var(--off-black);
}

/* GRADUATE CONTENT ===================================== */
/* This section here might work better as a grid layout ?  */
.graduateContent {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: max-content;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: calc(3em + 10px);
    padding-block: calc(3em + 10px);
}

.details {
    display: grid;
    align-content: stretch;
    padding-left: 30px;
    gap: 30px;
    width: 100%;
}

.shortBio {
    min-height: 170px;
    width: 100%;
}

.details h1 {
    font-size: 2.2em;
    margin-top: 10px;
}

.details h3 {
    line-height: 0;
}


/* GRADUATE PHOTO ===================================== */
.graduate_photo {
    position: relative;
    height: 100%;
}

/* GRADUATE DETAILS ===================================== */
.linksBar {
    align-self: end;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* SOCIALS BAR ===================================== */
.socialsBar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(3em + 10px);
}

.icon {
    width: 25px;
    height: 25px;
    background-color: var(--off-black);
    cursor: pointer;
}

/* ============= Image Grid ============= */
.graduateImageGrid {
    width: 100%;
    height: 100%;
    padding-left: calc(3em + 10px);
    margin: 2em 0;
}

.graduateImages {
    background-color: var(--off-black);
    height: 450px;
    width: 100%;
}


@media only screen and (max-width: 1300px) {
    /* .graduate_photo {
        width: 150px;
    } */
}

@media (max-width: 1100px) {
    .container {
        display: none;
    }
}


@media (max-height: 750px) {
    .container {
        display: none;
    }
}
