.container {
    max-width: 600px;
    min-width: 520px;
    width: calc(30vw - 3em);
    height: calc(100vh - var(--nav-height));
    position: sticky;
    display: flex;
    flex-direction: column;
    top: var(--nav-height);
    z-index: 5;
    border-left: 1.5px solid var(--off-black);
    /* border-right: 1.5px solid var(--off-black); */
    background-color: var(--off-white);
    margin-left: 3em;
}

.closeArrow {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%);
    top: 1em;
    background-color: white;
    padding: 0.5em;
    border-radius: 100px;
    outline: 1px solid var(--off-black);
}

/* GRADUATE CONTENT ===================================== */
.graduateContent {
    display: grid;
    grid-template-columns: 35% 65%;
    /* grid-template-rows: max-content; */
    width: 100%;
    padding-left: calc(3em + 10px);
    padding-top: calc(3em + 10px);
    /* min-height: 40%; */
    /* max-height: 46vh; */
    align-content: center;
}

.details {
    display: grid;
    align-content: stretch;
    padding-left: 30px;
    gap: 15px;
    width: 100%;
}

.shortBio {
    min-height: 180px;
    width: 100%;
}

.details h1 {
    font-size: 2.2em;
    padding-top: 5px;
}

.details h3 {
    line-height: 1.5em;
    font-size: 0.8em;
}


/* GRADUATE PHOTO ===================================== */
.graduate_photo {
    position: relative;
    height: 100%;
}

/* GRADUATE DETAILS ===================================== */
.linksBar {
    align-self: end;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* SOCIALS BAR ===================================== */
.socialsBar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(3em + 10px);
    margin-top: 1.5em;
}

.icon {
    width: 25px;
    height: 25px;
    background-color: var(--off-black);
    cursor: pointer;
}

/* ============= Image Grid ============= */
.graduateImageGrid {
    width: 100%;
    height: 100%;

}

.graduateImages {
    background-color: var(--off-black);
    height: 450px;
    width: 100%;
}

.sidebar_gradHero {
    margin: 1.5em 0 1.5em calc(3em + 10px) ;
    position: relative;
    height: 300px;
    max-height: 100%;
}

.sidebar_gradHero .gradHeroImage{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

@media (max-width: 1200px) {
    .container {
        display: none;
    }
}

@media (max-height: 1000px) {
    .graduateContent {
        padding-top: 3vh;
    }

    .shortBio {
        font-size: 0.8em;
        min-height: 150px;
    }

    .socialsBar {
        margin-top: 2vh;
    }

    .graduateImageGrid {
        margin: 2vh 0 ;
    }
}

@media (max-height: 850px) {
    .graduateContent {
        padding-top: 1em;
        height: 40%;
    }
    .sidebar_gradHero {
        margin-top: 2vh;
    }
    .shortBio {
        min-height: 60px;
    }
}

@media (max-height: 700px) {
    .container {
        display: none;
    }
}
