.container {
    /* width: 100%; */
}

.navcontainer {
    width: 100%;
    height: var(--nav-height);    
    font-size: 16px;
    padding-inline: 3em;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: sticky;
    border-bottom: 1.5px solid var(--off-black);
    background-color: var(--off-white);
    z-index: 20;
    position: fixed;
}

.nav_elements {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.nav_elements img {
    cursor: pointer;
    transition: 0.4s ease-out;
}

.nav_elements img:hover {
    opacity: 0.7;
}

.nav_options {
    display: flex;
    align-items: center;
    gap: 60px;
}

.mobile_nav_options {
    display: none;
}

.crossTainer {
    display: none;
}

@media (max-width: 900px) {
    .hamburger {
        display: unset;
    }
    .crossTainer {
        display: unset;
        animation: showcross 1s;
    }

    @keyframes showcross {
        from {opacity: 0}
        to {opacity: 1}
    }

    .nav_options {
        display: none;
    }
    
    .mobile_nav_options {
        display: flex;
        position: fixed;
        background-color: var(--off-white);
        right: 0;
        height: 200px;
        top: var(--nav-height);
        width: 100vw;
        flex-direction: column;
        align-items: center;
        padding: 1.3em;
        gap: 30px;
        font-size: 1.5rem;
        border-bottom: 1.5px solid var(--off-black);
        animation: show 1s;
        z-index: 5;
    }

    @keyframes show {
        from {top: -270px}
        to {top: 70px}
    }

    .hammy {
        padding: 5px 5px 0 0;
    }

    .crossTainer {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .navcontainer {
        padding-inline: 2em;
    }
}