/* BASE ------------------------------------------------------------ */
.container section {
    max-width: var(--max-width);
    margin-inline: auto;
    width: 100%;
    font-size: 16px;
}

.hero{
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 2em;
    gap: 30px;
    padding-block: 2em;
}

/* SHOWREEL SECTION ------------------------------------------------------------ */
.gradShowreel {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 16/9;
    background-color: var(--off-black);
}

/* FILTER BAR ------------------------------------------------------------ */
.filterBar {
    /* position: sticky; */
    /* top: var(--nav-height); */
    background-color: white;
    border-bottom: 1.5px solid var(--off-black);
    width: 100%;
    z-index: 10;
}

.filterBar .filterBar_subContainer {
    padding-inline: 3em;
    padding-block: 0.5em;
    margin-inline: auto;
    max-width: 1800px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.filters * {
    margin-right: 15px;
}

.layoutBar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.layoutBar div {
    cursor: pointer;
}

/* GRADUATE SECTION ------------------------------------------------------------ */

.sidebarOn {
    padding-inline: 3em;
    max-width: 1800px;
    display: grid;
    grid-template-columns: auto max-content;
}

.sidebarOff {
    padding-inline: 3em;
    max-width: 1800px;
}

.graduate_grid {
    margin-top: 3em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 2em ;
}

.graduate_list {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.sidebarOff {
    width: 100%;
}


@media only screen and (max-width: 1400px) {
    .graduate_grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2em;
    }

}

/* HIDES SIDEBAR -------------------------------- */
@media (max-width: 1200px) {
    .sidebarOn {
        width: 100%;
    }
}

@media (max-height: 750px) {
    .sidebarOn {
        width: 100%;
    }
}