/* BASE ------------------------------------------------------------ */
.container section {
  /* max-width: var(--max-width); */
  margin-inline: auto;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

/* HERO ------------------------------------------------------------ */
.hero {
  min-height: calc(80vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

/* .hero_title {
  font-size: clamp(3rem, 7vw, 8rem); 
} */

.space {
  /* overflow-y: hidden; */
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../public/assets/images/Home/space.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero_title {
  background: url('../public/assets/images/Home/title.png');
  background-size: cover;
  height: 20vh;
  width: 10vw;
}

.hero_text {
  position: absolute;
  left: 15%;
  top: 8%;
  text-align: left;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(.7rem, -0.875rem + 1.25vw, 2.5rem);
  line-height: 1.4em;
  color: #FFFBF4;
}

/* .glare{
  position: absolute;
  width: 10%;
  height: 15%;
  left: 45%;
  top: 460px;
  background: rgba(255, 240, 185, 0.42);
  filter: blur(48px);
} */

.markers {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marker1 {
  background: url('../public/assets/images/Home/marker.png');
  background-size: cover;
  height: 70vh;
  width: 10px;
}

.marker2 {
  background: url('../public/assets/images/Home/marker.png');
  background-size: cover;
  height: 70vh;
  width: 10px;
  transform: rotate(180deg);
}

.title {
  position: absolute;
  z-index: 1;
  background: url('../public/assets/images/Home/title.png');
  width: 70%;
  height: 70%;
  bottom: 0;
  background-position:35% 80%;
  background-size: 42%;
  background-repeat: no-repeat;
}

.title_blurred {
  opacity: 0.5;
  filter: blur(3.5px);
  position: absolute;
  z-index: 1;
  background: url('../public/assets/images/Home/title.png');
  width: 70%;
  height: 70%;
  bottom: 0;
  background-position:35% 80%;
  background-size: 42%;
  background-repeat: no-repeat;
}

.countdown {
  max-width: 460px;
  width: 100%;
  height: 100px;
  background-color: var(--light-grey);
  margin-bottom: 2em;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number h1 {
  font-weight: 900;
  margin: 0;
  font-size: 3.5em;
  font-family: 'Avenir';
}

.number span {
  font-size: .7em;
}

.count hr {
  width: 35px;
  border-width: .5px;
  color: #FFFBF4;
  border-style:solid;
}

.count {
  padding-right: 2%;
  padding-bottom: .8em;
  gap: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card_footer {
  width: 80%;
  position: absolute;
  top: 81%;
  left:10%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card_badge {
  margin-top: 1em;
  width: 5em;
}

/* APPROVED ------------------------------------------------------------ */

.approved{
  display: flex;
  position: relative;
  right: 4em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  padding: 20em 5em;
}

.approved a {
  font-size: clamp(1rem, -0.875rem + 1vw, 2.5rem);
  position: relative;
  text-align: right;
}

.approved a::after {
  font-size: clamp(1rem, -0.875rem + 1vw, 2.5rem);
  position: relative;
  text-align: right;
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -10px;
  right: 0;
  background-color: var(--dark-green);
  transition: width 0.4s ease;
}

.approved a:hover::after {
  content: '';
  position: absolute;
  width: 240px;
  height: 1px;
  bottom: -10px;
  right: 0;
  background-color: var(--dark-green);
  transition: width 0.4s ease;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
}



@media (max-width:950px){
  .approved{
    flex-direction: column-reverse;
    gap: 5em;
    padding: 10em 2em;
    position: unset;
    right: 0em;
  }
}


@media (max-width:450px){
  .mapDiagram{
    display: none;
  }
}


/* INTO OUR SPACE ------------------------- */

.section_heading {
  /* max-width: var(--max-width);
  padding-inline: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5em; 
}

.elements{
  text-align: left;
}

.elements h2{
  position: relative;
  word-wrap: break-word;
  top: 35px;
  font-family: 'Space Mono';
  font-style: normal;
  letter-spacing: 0.135em;
  color: var(--main-green);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 2em;

}
.elements h1{
  word-wrap: break-word;
  font-family: 'Avenir';
  /* identical to box height */
  color: var(--main-green);
  line-height: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 1000px){
  .elements h2{
    font-size: 1.4rem;
  }
  .elements h1{
    font-size: 4.5em
  }
}

@media (max-width: 700px){
  .elements h2{
    font-size: 1rem;
  }
  .elements h1{
    font-size: 4em
  }
}

@media (max-width: 600px) {
  .elements h1{
    font-size: 3em
  }
}

@media (max-width: 450px){
  .section_heading{
    margin-inline: .5em; 
  }

  .elements h2{
    font-size: .9rem;
    margin-bottom: 2.5em;
  }

  .elements h1{
    font-size: 2.5em;
  }
}


/* MAJOR CARDS ----------------------------------------- */
.card_holder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards_holder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  color: white;
  position: relative;
  max-width: 480px;
  min-width: 320px;
  height: auto;
}
.card_content{
  padding: 15% 15% 10% 10%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.card_content h1{
  text-shadow: 0 0 3px rgb(255, 255, 255);
  padding-right: 10%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  color: #FFFBF4;
  margin: 3%;
}
.morepadding{
  text-shadow: 0 0 3px rgb(255, 255, 255);
  padding-right: 40%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  color: #FFFBF4;
  margin: 3%;
}

.linetop{
  width: 65%;
}

.linetop hr{
  border-width: .5px;
  color: #FFFBF4;
  border-style:solid;
}
.card_content h3{
  margin: 0;
  margin-top: 10%;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: .8em;
  line-height: 103.6%;
  padding-right: 30%;
  color: #FFFFFF;
}
.card_content p{
  line-height: 150%;
  font-size: .9em;
  width: 60%;
  padding-right: 0%;
}

.agd_text:before{
  content: "";
  display: block;
  width: 4.5em;
  height: 1.5px;
  left: -40%;
  top: .9em;
  position: relative;
  background: var(--agd-yellow);
}
.digex_text:before{
  content: "";
  display: block;
  width: 4.5em;
  height: 1.5px;
  left: -40%;
  top: .9em;
  position: relative;
  background: var(--digex-teal);
}
.grfx_text:before{
  content: "";
  display: block;
  width: 4.5em;
  height: 1.5px;
  left: -40%;
  top: .9em;
  position: relative;
  background: var(--grfx-orange);
}
.card_content a{
  font-weight: 700;
  font-size: .8em;
}
.cards_holder{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width:400px){
  .card_content p{
    font-size: .8em;
  }

  .number span{
    font-size: .6em;
  }

  .count hr{
    width: 25px;
  }
  .number h1{
    font-size: 3.3em;
  }

  .card_footer{
    top: 78%;
  }

  .card_badge{
    width: 4.5em;
  }
}

@media (max-width:365px){
  .number span{
    font-size: .6em;
  }

  .count hr{
    width: 20px;
  }

  .number h1{
    font-size: 3em;
  }

  .card_badge{
    display: none;
  }

  .agd_text:before{
    height: 1.5px;
    left: -50%;
  }
  .digex_text:before{
    height: 1.5px;
    left: -50%;
  }
  .grfx_text:before{
    height: 1.5px;
    left: -50%;
  }

  .card_content h1{
    text-align: center;
    font-size: 2em;
  }

  .card_content h2{
    font-size: 2em;
  }

  .morepadding{
    padding-right: 30%;
  }
}



/* SHOWREELS ------------------------------------------------------------ */
.showreel_videos{
    width: 57vw;
    height: 57vh;
    margin: auto;
}
.showreels {
  /* padding: 20% 0% 20% 0%; */
  padding-inline: 4em;
  margin-block: 10%;
}

.showreels > h3 {
  margin-bottom: 50px;
}

.showreels_subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}

.showreels_sidebar {
  max-width: 345px;
  display: flex;
  flex-direction: column;
}

.showreel_buttons {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em
}

.coordinator_text {
  max-width: 345px;
}

/* GRADUATES ------------------------------------------------------------ */
.graduates {
  padding-inline: 4em;
  padding-top: 20em;
  padding-bottom: 5em;
}

.graduates button {
  margin-inline: auto;
  display: block;
}

.graduates_subcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 40px 75px;
  margin-block: 4em;

}


/* SOCIALS ------------------------------------------------------------ */
.socials {
  padding: 5em 4em;
}

.socials h5 {
  margin-block: 0;
  margin-top: 0.5em;
}

.social_images {
  width: 100%;
  margin-top: 2em;
}


.creditsContainer {
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding-block: 5em;
  padding-inline: 3em;
}

.creditsContainer p {
  margin: 0 auto;
  max-width: 650px;
  color: var(--dark-green);
}

