.graduatePageContainer {
    max-width: var(--max-width);
    margin: 0 auto;
}

.graduate_content {
    display: grid;
    grid-template-columns: 37.5% 57.5%;
    grid-template-rows: max-content 1fr;
    column-gap: 5%;
    padding: 0 100px 0 100px ;
    margin: 100px 0 50px 0;
    color: var(--off-black);
}

.graduate_photo {
    grid-area: 1 / 1 / -1 / 2 ;
    position: relative;
    min-height: 550px;
}

.graduate_photo_small {
    display: none;
}

.graduate_title {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.graduate_major_patch {
    grid-row: span 2;
    width: 100px;
    margin-right: 2em;
}

.graduate_name {
    grid-area: 1 / 2 / 2 / -2 ;
}

.graduate_major {
    grid-area: 2 / 2 / 3 / -2 ;
}

.graduate_bio {
    grid-area: 3 / 1 / 4 / -1 ;
    margin: 2em 0 3em 0 ;
}

.graduate_details {
    align-self: end;
}

.graduate_description {
    margin-bottom: 50px;
}

.graduate_bio::first-letter, .graduate_description::first-letter {
    text-transform: capitalize;
}

.graduate_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.placeholder_social {
    height: 20px;
    width: 20px;    
    background-color: black;
}

.socialLinks {
    height: 2em;
    width: 100%;
}



/* ============= Image Grid ============= */
.graduateImageGrid {
    height: auto;
    width: 100%;
    padding: 50px 100px 0 100px;
    margin-bottom: 100px;
}

.graduateImages {
    /* background-color: var(--off-black); */
    height: 100%;
    width: 100%;
}

.heroContainer {
    position: relative;
    overflow: hidden;
    max-height: 60vw;
    margin-bottom: 20px;
    overflow: hidden;
}
.heroContainer .gradHeroImage{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}


@media only screen and (max-width: 900px) {

    .arrow {
        margin-top: 20px;
        margin-left: 28px;
    }

    .graduate_content {
        grid-template-columns: 1fr;
        grid-template-rows: 350px repeat(2, max-content);
        row-gap: 50px;
        padding: 20px 50px 0 50px ;
        margin-bottom: 50px;
    }

    .graduateImageGrid {
        padding: 20px 50px 0 50px ;
    }

    .graduate_photo { display: none; }

    .graduate_photo_small { 
        grid-area: 1 / 1 / 2 / 2 ; 
        display: block;
        position: relative;
    }

    .graduate_photo_small img {
        object-position: 0 20%;
    }

    .graduate_title {
        grid-area: 2 / 1 / 3 / -1 ;
    }

    .graduate_bio {
        margin: 2rem 0 0 0;
    }

    .graduate_details { 
        grid-area: 3 / 1 / 4 / -1 ;
        margin-top: 0;
    }
}

@media only screen and (max-width: 900px) {





}

@media only screen and (max-width: 500px) {

    .graduate_links {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 20px);
        justify-content: space-between;
        row-gap: 30px;
    }

    .placeholder_social {
        grid-row: 1 / 2 ;
        justify-self: center;
    }

    .portfolio_link {
        grid-row: 2 / 3 ;
        grid-column: 1 / -1 ;
        justify-self: center;
    }
}